
.fa:hover {
	cursor: pointer;
}

input {
	display: none;
}

input[name=desc] {
	width: 80%;
}

main {
	max-width: 35em;
}

.error {
    color: red;
}

.desc {
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
}

.tokens li {
    margin-bottom: .5em;
    border-bottom: thin solid lightgrey;
}

.tokens li a {
    float: right;
}
