
.editor {
    margin-bottom: 2em;
}

.editor h1 {
    margin: 0;
}

.controls {
    float: right;
    font-size: 45%;
    padding-top: 1em;
}

.editor textarea, 
.editor input[name="tags"] {
    width: 100%;
}

.info {
    float: right;
    width: 25%;
}

