
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}   

.editicon {
    cursor: pointer;
}

.member {
    padding-right: 1em;
}

.tanks > ul {
	padding-left: 0;
}

.tanklist {
	list-style: none;
    width: 15em;
    border-bottom: thin solid lightgrey;
}

.tanklist a {
	padding-left: .5em;
}

.deleter {
    float: right;
}
