
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}   

.output {
    max-width: 30%;
}

.editicon {
    cursor: pointer;
}

.member {
    padding-right: 1em;
}

.tanks > ul {
    padding-left: 0;
}

.tanklist {
    list-style: none;
    width: 15em;
    border-bottom: thin solid lightgrey;
}

.tanklist a {
	padding-left: .5em;
}

.commandicon {
    float: right;
    padding-left: 2em;
}

.commandicon:hover {
    cursor: pointer;
}

.tiddlers {
    width: 65%;
    float: right;
}

.tiddlers h2 {
    margin-top: 0;
}

abbr:hover {
    cursor: help;
}
