/* Because this makes sense. */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.warning {
    font-weight: bold;
    color: red;
}

body {
    background-color: #efefef;
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

main, header, footer {
    padding: 1em;
}

main {
    position: relative;
    color: #222222;
}

main pre {
    background-color: #fbfbfb;
    padding: .5em;
	overflow-x: scroll;
	white-space: pre;
}

header {
    color: #efefef;
    background-color: #222222;
    min-height: 50px;
    width: 100%;
}

footer {
    color: #efefef;
    background-color: #222222;
    min-height: 75px;
    width: 100%;
    clear: both;
    bottom: 0;
}

footer .logo {
    float: right;
    padding-right: 1em;
}

footer img {
    width: 48px;
}

footer ul,
footer li {
    display: inline;
    padding-left: 0;
    padding-right: 1em;
}

footer a {
    font-size: 125%;
    color: #efefef;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.wikititle {
    font-weight: bold;
    font-size: 150%;
    padding-right: 1em;
    color: #efefef;
    text-decoration: none;
}

a.wikititle:hover {
    text-decoration: underline;
}

.right {
    float: right;
}

.output {
    max-width: 35em;
}


.output img {
    max-width: 100%;
}


.commands {
    max-width: 20em;
    float: right;
}

.commands div {
    margin-bottom: 1em;
}

.message {
    font-size: 125%;
    color: red;
    padding-bottom: 1em;
}

.sm-gravatar {
    width: 2em;
    display: inline;
    vertical-align: middle;
}

.socketicon {
    position: relative;
}

.socketicon:hover {
    cursor: pointer;
}

.socketinfo {
    position: absolute;
    display: none;
    font-size: small;
    z-index: 99;
    width: 10em;
    margin: 0;
    padding: .5em;
    list-style: none;
    background: white;
    border: thin solid black;
}

.socketinfo dl {
    margin: 0;
}

.socketsearch {
    position: absolute;
    bottom: 0;
    right: 0;
}

.socketinfo a {
    text-decoration: none;
}

.socketinfo a:hover {
    text-decoration: underline;
}

.socketinfo dd {
    color: black;
    margin-left: .5em;
}

.socketinfo span.modified {
    display: block;
}

.commandbox {
    display: none;
}

#nav_more {
    position: absolute;
    left: -999px;
}

@media screen and (max-width: 62em) {
    body {
        width: 100%;
    }

    .commandbox {
        display: inline;
        cursor: pointer;
    }

    .commands {
        position: absolute;
        float: none;
        left: -21em;
        background: lightblue;
        z-index: 99;
        padding: 1em;
    }

    input[type=checkbox]:checked ~ .commands {
        left: 1em;
    }
}
