/* Because this makes sense. */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.logout input {
    display: none;
}

.logout:hover {
    cursor: pointer;
}

.warning {
    font-weight: bold;
    color: red;
}

.editor button a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #efefef;
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

main, header, footer {
    padding: 1em;
}

main {
    position: relative;
    color: #222222;
    padding-top: 0;
}

main pre {
    background-color: #fbfbfb;
    padding: .5em;
	overflow-x: scroll;
	white-space: pre;
}

header {
    color: #efefef;
    background-color: #222222;
    min-height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 1em;
}

footer {
    font-size: .75em;
    color: #efefef;
    background-color: #222222;
    min-height: 54px;
    width: 100%;
    clear: both;
    bottom: 0;
    position: relative;
}

footer .logo {
    float: right;
    padding-right: 1em;
}

footer img {
    position: absolute;
    width: 54px;
    top: 0;
    right: 0;
}

footer ul,
footer li {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 1em;
}

footer li {
    display: inline;
}

footer .subfooter {
    font-size: .75em;
}

footer a {
    font-size: 125%;
    color: #efefef;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.wikititle {
    font-size: 150%;
    padding-right: 1em;
    color: #efefef;
    text-decoration: none;
}


.title {
    display: inline-block;
    max-width: 24em;
    width: 100%;
    padding-left: 1em;
    margin-top: -.25em;
}

.title a,
.title span {
    text-decoration: none;
    color: #efefef;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.twoicons i {
    position: absolute;
    bottom: .25em;
    left: 0;
    padding: 0;
    cursor: auto !important;
}

.twoicons i:first-child {
    top: .25em;
}

.tanktitle {
    font-size: 65%;
}

.pagetitle {
    font-size: 85%;
    padding-left: 1em;
}

.right {
    float: right;
}

.output {
    max-width: 35em;
}


.output img {
    max-width: 100%;
}


.commands {
    max-width: 20em;
    float: right;
}

.commands div,
.commands form {
    margin-bottom: 1em;
}

.message {
    font-size: 125%;
    color: red;
    padding-bottom: 1em;
}

.sm-gravatar {
    width: 2em;
    margin-right: 1em;
    display: inline;
    vertical-align: middle;
}

.socketicon {
    position: relative;
}

.socketicon:hover {
    cursor: pointer;
}

.socketinfo {
    position: absolute;
    display: none;
    font-size: small;
    z-index: 99;
    width: 10em;
    margin: 0;
    padding: .5em;
    list-style: none;
    background: #efefef;
    border: thin solid black;
}

.socketinfo dl {
    margin: 0;
    overflow-x: hidden;
}

.socketsearch {
    position: absolute;
    bottom: 0;
    right: 0;
}

.socketinfo a {
    text-decoration: none;
}

.socketinfo a:hover {
    text-decoration: underline;
}

.socketinfo dd {
    color: #222222;
    margin-left: .5em;
}

.socketinfo span.modified {
    display: block;
}

.commandbox {
    display: none;
}

#nav_more {
    position: absolute;
    left: -999px;
}

i[title]:hover {
    cursor: pointer;
}

form[name=search] .globalizer {
    display: none;
}

header > i {
    cursor: default !important; /* why? */
}

.plink {
    float: left;
    margin-left: -32px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: small;
    text-decoration: none;
    color: #C8A8FF;  /* light purple */
}

@media screen and (max-width: 62em) {
    body {
        width: 100%;
    }

    .plink {
        display: none;
    }

    .commandbox {
        display: inline;
        cursor: pointer;
    }

    .commands {
        position: absolute;
        float: none;
        left: -21em;
        background: lightblue;
        z-index: 99;
        padding: 1em;
    }

    input[type=checkbox]:checked ~ .commands {
        left: 1em;
    }

    .wikititle {
        padding-right: .5em;
    }
}
