/* Because this makes sense. */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.warning {
    font-weight: bold;
    color: red;
}

body {
    background-color: #efefef;
    margin: auto;
    width: 90%;
}

main, header, footer {
    padding: 1em;
}

main {
    color: #222222;
}

header {
    color: #efefef;
    background-color: #222222;
    height: 50px;
    width: 100%;
}

footer {
    color: #efefef;
    background-color: #222222;
    height: 75px;
    width: 100%;
    clear: both;
    bottom: 0;
}

footer .logo {
    float: right;
    padding-right: 1em;
}

footer img {
    width: 48px;
}

footer ul,
footer li {
    display: inline;
}

footer a {
    font-size: 125%;
    color: #efefef;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.wikititle {
    font-weight: bold;
    font-size: 150%;
}

a.wikititle {
    margin-left: 2em;
    color: #efefef;
    text-decoration: none;
}

a.wikititle:hover {
    text-decoration: underline;
}

.right {
    float: right;
}

.commands {
    width: 30%;
    float: right;
}

.message {
    font-size: 125%;
    color: red;
    padding-bottom: 1em;
}
