
#dropzone {
    border: thin dashed black;
    padding: .5em;
}

.tiddlertitle {
    margin: 0;
}

ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 150%;
}

.tags li {
    font-size: 80%;
    display: inline;
    margin: 0 .5em 0 0;
    background: lightblue;
    border-radius: 4px;
    padding: .2em .4em .2em .4em;
}

.tags a {
    color: white;
    text-decoration: none;
}

.control {
    float: right;
    margin-left: .5em;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.delete {
    display: none;
}

.delete.fa-cog {
    padding: 0;
}

.meta {
    float: right;
    font-size: 45%;
}

.meta span {
    display: block;
    text-align: right;
}

.meta span a {
    color: black;
}

#mover form {
	display: none;
}

#compmaker form {
	display: none;
}

#compmaker input {
	width: 100%;
}

.navigatorlinks {
    padding-bottom: 1em;
}

.navigatorlinks a {
    text-decoration: none;
    color: inherit;
}

.navigatorlinks .prev {
    float: left;
}

.navigatorlinks .next {
    float: right;
}
