
#dropzone {
    border: thin dashed black;
    padding: .5em;
}

.transclusion {
    border-left: thin solid lightblue;
    margin-left: -.5em;
    padding-left: .5em;
    position: relative;
}

.transicon {
    position: absolute;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: lightblue;
    right: 0;
    top: -1em;
    display: none;
}

.transclusion:hover > .transicon {
    display: inline;
}

ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 150%;
}

.tags li {
    font-size: 80%;
    display: inline;
    margin: 0 .5em 0 0;
    background: lightblue;
    border-radius: 4px;
    padding: .2em .4em .2em .4em;
}

.tags a {
    color: #efefef;
    text-decoration: none;
}

.control {
    float: right;
    margin-left: .5em;
    cursor: pointer;
    text-decoration: none;
    color: #222222;
}

.delete {
    display: none;
}

.delete.fa-cog {
    padding: 0;
}

.meta {
    float: right;
    font-size: 45%;
}

.meta span {
    display: block;
    text-align: right;
}

.meta span a {
    color: #222222;
}

#twinner form {
	display: none;
}

#twinner textarea {
	width: 100%;
}

#twinner input {
	display: block;
}

#mover form {
	display: none;
}

#compmaker form {
	display: none;
}

#compmaker input {
	width: 100%;
}

.navigatorlinks {
    padding-bottom: 1em;
}

.navigatorlinks a {
    text-decoration: none;
    color: inherit;
}

.navigatorlinks .prev {
    float: left;
}

.navigatorlinks .next {
    float: right;
}

.commands i.fa-chevron-right,
.commands i.fa-chevron-down {
    padding-right: .25em;
}

.commands h3:hover {
    cursor: pointer;
}

