<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{%- block title -%}{{title}}{%- endblock -%}</title>
        <link rel="stylesheet" href="/bags/tank/tiddlers/font-awesome.css">
        <link rel="stylesheet" href="/bags/tank/tiddlers/normalize.css">
        <link rel="stylesheet" href="/bags/tank/tiddlers/tank.css">
        <!--[if lt IE 9]>
        <script src="/bags/tank/tiddlers/html5.js"></script>
        <![endif]-->
        {% block morehead %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <h1>Oh hi</h1>
        {% endblock %}
    <footer>
        <span class="logo"><a href="http://peermore.com/"><img src="/bags/tank/tiddlers/peermore2.png" alt="peermore"></a></span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tanks/docs">Help</a></li>
            <li><a href="/tanks/docs/contact">Contact</a></li>
            <li><a href="https://github.com/cdent/tank/issues">Issues</a></li>
        </ul>
        <ul class="subfooter">
            <li><a href="/tanks/docs/Terms%20of%20Service">Terms</a></li>
            <li><a href="/tanks/docs/Privacy">Privacy</a></li>
            <li><a href="/tanks/docs/Colophon">Colophon</a></li>
        </ul>
    </footer>
    <script src="/status.js"></script>
    <script src="/bags/tank/tiddlers/jquery.js"></script>
    {% if socket_link %}
    <script src="{{ socket_link }}"></script>
    <script src="/bags/tank/tiddlers/tiddlersocket.js"></script>
    <script src="/bags/tank/tiddlers/socketinfo.js"></script>
    {% endif %}
    <script src="/bags/tank/tiddlers/jquery.timeago.js"></script>
    <script>
    jQuery(document).ready(function() {
            jQuery(".modified").timeago();
    });
    </script>
    {% block scripts %}
    {% endblock %}
    </body>
</html>
