{% extends 'base.html' %}
{% block title %}Recent Changes in {{ bag.name }}{% endblock %}
{% block morehead %}
    <link rel="stylesheet" href="/bags/tank/tiddlers/changes.css">
{% endblock %}
{% block body %}
<header>
{% include 'logout.html' %}
    <span class="twoicons">
        <a class="wikititle" href="{%- if user != 'GUEST' %}
            /tanks/{{ user|uri }}
            {% else %}
            /
            {% endif -%}"><i title="Home" class="fa fa-fw fa-home"></i></a>
    <i class="policyicon wikititle fa fa-fw fa-clock-o"></i>
    </span>
    <span class="wikititle title">
        <a class="tanktitle" title="Tank Home" href="/tanks/{{ bag.name|uri }}">{{ bag.name }}</a>
        <span class="pagetitle">Recent Changes</span>
    </span>
</header>

<main>
<div class="output">
<h1>Changes in last {{ days }} days.</h1>
<ul>
{% for tiddler in tiddlers %}
<li>
<span class="meta">
<span class="modified" title="{{ tiddler.modified|rfc3339 }}">
    {{ tiddler.modified }}
</span>
{% if tiddler.modifier %}
by
<span class="modifier">
    <a href="/tanks/{{ tiddler.modifier|uri }}">
        {{ tiddler.modifier }}</a>
</span>
{% endif %}
</span>
<a href="{{ tiddler.title|uri }}">
    {{ tiddler.title }}
</a>
</li>
{% endfor %}
</ul>
<div>
Changes in last
{% for day in [1, 2, 7, 30] %}
<a href="RecentChanges?d={{ day }}">{{ day }}</a>
{% endfor %}
days.
</div>
</div>
</main>

{% endblock %}
{% block scripts %}
{% endblock %}
