{% extends 'base.html' %}
{% block title %}Dashboard for {{user}}{% endblock %}
{% block morehead %}
    <link rel="stylesheet" href="/bags/tank/tiddlers/dash.css">
{% endblock %}
{% block body %}
<header>
{% include 'logout.html' %}
<span class="wikititle">Dash</span>
</header>

<main>
<h1 class="greeting">Hi {{user}}</h1>
<div class="commands">
    {% if message %}
    <div class="message">{{ message }}</div>
    {% endif %}
    <div class="command">
        Create new tank: <a href="/tanks/docs/tank">
            <i class="fa fa-question-circle"></i></a>
    <form method="POST" action="/forge">
        <input name="name" placeholder="tank name">
        <select name="policy_type">
            <option value="private" selected>Private</option>
            <option value="protected">Protected</option>
            <option value="public">Public</option>
        </select><br>
        <input name="desc" placeholder="optional description">
        <input name="Create" type="submit" value="Create">
    </form>
    </div>
</div>
<div class="tanks">
    <h2>Your tanks</h2>
    <ul>
        {% for bag in bags|sort %}
        <li><a href="/tanks/{{ bag.name|e }}">{{ bag.name }}</a>
        <span class="description">{{ bag.desc }}</span></li>
        {% endfor %}
    </ul>
</div>
</main>

{% endblock %}
