{% extends 'base.html' %}
{% block title %}{{ tiddler.title }} in {{ tiddler.bag }}{% endblock %}
{% block morehead %}
    <link rel="stylesheet" href="/bags/tank/tiddlers/wiki.css">
    <link rel="stylesheet" href="/bags/tank/tiddlers/edit.css">
{% endblock %}
{% block body %}
<header>
    <a class="wikititle" href="/tanks/{{tiddler.bag|e }}/{{ tiddler.title|e }}">{{ tiddler.title }}</a>
    <a class="wikititle" href="RecentChanges">Changes</a>
    {% if tiddler.title != "index" %}
    <a class="wikititle" href="/tanks/{{ tiddler.bag|e }}">TankTop</a>
    {% endif %}
    {% if user != "GUEST" %}
    <a class="wikititle" href="/dash">Dash</a>
    {% endif %}
</header>

<main>
<div class="info">
    <a href="/tanks/docs/markdown">Markdown Help</a>
</div>
<div class="editor">
{% if conflict %}
Someone made a change while you were editing. Your text is below.
See the <a href="/tanks/{{ tiddler.bag|e}}/{{ tiddler.title|e }}" target="_blank">current version</a>.
{% endif %}
<form action="/edit" method="POST">
<input type="hidden" name="title" value="{{ tiddler.title }}">
<input type="hidden" name="bag" value="{{ tiddler.bag }}">
<input type="hidden" name="etag" value="{{ etag }}">
<textarea name="text" rows="24" cols="80" placeholder="enter markdown text here">{{ tiddler.text }}</textarea>
<input placeholder="tags" name="tags" value="{{ tiddler.tags|join(', ') }}" size="80">
{% if conflict %}
<button type="submit">Clobber</button>
{% else %}
<button type="submit">Save</button>
{% endif %}
<button type="reset">Reset</button>
<a href="/tanks/{{ tiddler.bag |e }}/{{ tiddler.title |e }}">Cancel</a>
</form>
</div>
</main>

{% endblock %}
