{% extends 'base.html' %}
{% block title %}{{ tiddler.title }} in {{ tiddler.bag }}{% endblock %}
{% block morehead %}
    <link rel="stylesheet" href="/bags/tank/tiddlers/wiki.css">
    <link rel="stylesheet" href="/bags/tank/tiddlers/edit.css">
    <link rel="stylesheet" href="/bags/tank/tiddlers/selectize.default.css">
{% endblock %}
{% block body %}
<header>
    {% include 'logout.html' %}
    <i title="{{ bag.type }}" class="wikititle fa {{ bag.icon }}"></i>
	<a class="wikititle" href="/tanks/{{tiddler.bag|uri}}/RecentChanges">Changes</a>
    {% if tiddler.title != "index" %}
    <a class="wikititle" href="/tanks/{{ tiddler.bag|uri }}">TankTop</a>
    {% endif %}
    {% if user != "GUEST" %}
    <a class="wikititle" href="/dash">Dash</a>
    {% endif %}
</header>

<main>
<input type="checkbox" id="nav_more" role="button">
<label class="commandbox" for="nav_more">
    <i class="fa fa-align-justify"></i>
</label>
<div class="commands">
    <div><a href="/tanks/docs/markdown">Markdown Help</a></div>
    <div id="dropzoneMessage"></div>
    <form action="/search" target="_blank">
        <input name="q" placeholder="Search (opens in new tab)">
    </form>
</div>
<div class="editor">
<h1><a href="/tanks/{{tiddler.bag|uri }}/{{ tiddler.title|uri }}">{{ tiddler.title }}</a></h1>
{% if message == 'conflict' %}
<div class="message">Someone made a change while you were editing. Your
    text is below.
    See the <a href="/tanks/{{ tiddler.bag|uri}}/{{ tiddler.title|uri }}" target="_blank">current version</a>.</div>
{% elif message %}
<div class="message">{{ message|e }}</div>
{% endif %}
<form action="/edit" method="POST">
<input type="hidden" name="title" value="{{ tiddler.title }}">
<input type="hidden" name="bag" value="{{ tiddler.bag }}">
<input type="hidden" name="etag" value="{{ etag }}">
<input type="hidden" name="type" value="{{ tiddler.type }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
<textarea id="dropzone" name="text" rows="20" cols="60" placeholder="enter markdown text here">{{ tiddler.text }}</textarea><br/>
<label><input type="checkbox" name="global"> Use global tags in autocomplete?<label><br/>
<input placeholder="tags" name="tags" value="{{ tiddler.tags|join(', ') }}" size="60"><br/>
{% if conflict %}
<button type="submit">Clobber</button>
{% else %}
<button type="submit">Save</button>
{% endif %}
<button type="reset">Reset</button>
<a href="/tanks/{{ tiddler.bag|uri }}/{{ tiddler.title|uri }}">Cancel</a>
</form>
</div>
</main>

{% endblock %}
{% block scripts %}
<script src="/bags/tank/tiddlers/selectize.js"></script>
<script src="/bags/tank/tiddlers/tagger.js"></script>
<script src="/bags/tank/tiddlers/filedrop.js"></script>
{% endblock %}
