{% extends 'base.html' %}
{% block title %}{{ tiddler.title }} in {{ tiddler.bag }}{% endblock %}
{% block morehead %}
    <link rel="stylesheet" href="/bags/tank/tiddlers/wiki.css">
    <link rel="stylesheet" href="/bags/tank/tiddlers/edit.css">
    <link rel="stylesheet" href="/bags/tank/tiddlers/selectize.default.css">
    <link rel="edit"
	href="/bags/{{ tiddler.bag|uri }}/tiddlers/{{ tiddler.title|uri }}">
{% endblock %}
{% block body %}
<header>
    {% include 'logout.html' %}
    <a class="right wikititle" title="Recent Changes" href="/tanks/{{ bag.name|uri }}/RecentChanges"><i class="fa fa-clock-o"></i></a>
    <i title="{{ bag.type }}" class="policyicon wikititle fa {{ bag.icon }}"></i>
    <span class="wikititle title">
        <a class="tanktitle" title="Tank Home" href="/tanks/{{ bag.name|uri }}">{{ bag.name }}</a>
        <a class="pagetitle" href="/tanks/{{tiddler.bag|uri }}/{{ tiddler.title|uri }}">{{ tiddler.title }}</a>
    </span>
</header>

<main>
<input type="checkbox" id="nav_more" role="button">
<label class="commandbox" for="nav_more">
    <i class="fa fa-align-justify"></i>
</label>
<div class="commands">
    <div><a href="/tanks/docs/markdown">Markdown Help</a></div>
    <div id="dropzoneMessage"></div>
    {% include 'searchform.html' %}
</div>
<div class="output editor">
<form action="/edit" method="POST">
<span class="controls">
{% if conflict %}
<button type="submit">Clobber</button>
{% else %}
<button accesskey="s" type="submit">Save Tiddler</button>
{% endif %}
<button type="reset">Revert Changes</button>
<button><a href="/tanks/{{ tiddler.bag|uri }}/{{ tiddler.title|uri }}">Cancel Edit</a></button>
</span>
{% if message == 'conflict' %}
<div class="message">Someone made a change while you were editing. Your
    text is below.
    See the <a href="/tanks/{{ tiddler.bag|uri}}/{{ tiddler.title|uri }}" target="_blank">current version</a>.</div>
{% elif message %}
<div class="message">{{ message|e }}</div>
{% endif %}
<input type="hidden" name="title" value="{{ tiddler.title }}">
<input type="hidden" name="bag" value="{{ tiddler.bag }}">
<input type="hidden" name="etag" value="{{ etag }}">
<input type="hidden" name="type" value="{{ tiddler.type }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
<textarea id="dropzone" name="text" rows="18" cols="60" placeholder="enter markdown text here">{{ tiddler.text }}</textarea><br/>
<label><input type="checkbox" name="global"> Use global tags in autocomplete?</label><br/>
<input placeholder="tags" name="tags" value="{{ tiddler.tags|join(', ') }}" size="60"><br/>
</form>
</div>
</main>

{% endblock %}
{% block scripts %}
<script src="/bags/tank/tiddlers/selectize.js"></script>
<script src="/bags/tank/tiddlers/tagger.js"></script>
<script src="/bags/tank/tiddlers/filedrop.js"></script>
<script src="/bags/tank/tiddlers/searchform.js"></script>
{% endblock %}
