{% extends 'base.html' %}
{% block title %}Welcome To Tank{% endblock %}
{% block morehead %}
    <link rel="stylesheet" href="/bags/tank/tiddlers/frontpage.css">
{% endblock %}
{% block body %}
<header>
    <span class="wikititle">TANK</span>
</header>

<main>
<div class="hero">
<h2>For Your Tiddlers</h2>
<p>An indexed store and <a href="/tanks/docs/API">API</a> for <em>your</em>
bits of stuff on the web, hypertexted for your pleasure.</p>
<p>We call them <a href="/tanks/docs/tiddler">tiddlers</a>, keep them
in <a href="/tanks/docs/tank">tanks</a> and work with them in
<a href="/tanks/docs/composition">compositions</a>.</p>
<p>Do with your tiddlers what you will:
<a href="/tanks/docs/Using%20Wikis">Make a wiki</a>,
keep your private or public notes, build
<a href="/tanks/docs/Single%20Page%20Apps">single page applications</a>,
manage data over the <a href="/tanks/docs/API">API</a>.</p>

<p class="warning">Please note, for the time being Tank is in an
open beta, free for anyone to try. At some point in the future it
will become a <a href="/tanks/docs/subscribe">subscription</a> service
to ensure its continued support and maintenance.
<a href="/tanks/docs/contact">Stay in touch</a> to learn more.
</p>
</div>
{% if user=='GUEST' %}
<div class="notify regisign fa fa-github">
    <a href="/_oauth/callback?server_name=github">Sign Up or In with GitHub</a>
</div>
{% else %}
<div class="notify">
    <p>Welcome Back {{user}}.</p>
    <p>Would you like to go to your <a
        href="/dash">dashboard</a>?</p>
</div>
{% endif %}
</main>

{% endblock %}
