{% extends 'base.html' %}
{% block title %}Welcome To Tank{% endblock %}
{% block morehead %}
    <link rel="stylesheet" href="/bags/tank/tiddlers/frontpage.css">
{% endblock %}
{% block body %}
<header>
    {% include 'logout.html' %}
    <span class="wikititle">TANK</span>
</header>

<main>
<div class="commands">
<div class="regisign">
{% if user=='GUEST' %}
{% include 'signin.html' %}
{% else %}
    <p>Welcome Back {{user}}.</p>
    <p>Would you like to go to your <a
        href="/dash">dashboard</a>?</p>
{% endif %}
</div>
<div class="info">
<p>Tank is an indexed store for your bits of stuff on the web, hypertexted
for your pleasure. We call them <a href="/tanks/docs/tiddler">tiddlers</a>,
keep them in <a href="/tanks/docs/tank">tanks</a> and work with them in
<a href="/tanks/docs/composition">compositions</a>.
Do with your tiddlers what you will:
<a href="/tanks/docs/Using%20Wikis">Make a wiki</a>,
keep your private or public notes, build
<a href="/tanks/docs/Single%20Page%20Apps">single page applications</a>,
manage data over the <a href="/tanks/docs/API">API</a>.</p>

<p class="warning">Please note, for the time being Tank is in an
open beta, free for anyone to try. At some point in the future it
will become a <a href="/tanks/docs/subscribe">subscription</a> service
to ensure its continued support and maintenance.
<a href="/tanks/docs/contact">Stay in touch</a> to learn more.
</p>
</div>
</div>
<div class="output">
<div class="hero fished">
<h1>For Your Tiddlers</h1>

<p><strong>You</strong> already know that taking notes, making lists, keeping
bookmarks and making links between things is a good idea. You just need the
tools to get the job done.</p>

<p><strong>We</strong> provide you with straightforward tools to create,
maintain, share and publish or protect your content, building on the
time-tested techniques of wikis paired with an innovative
<a href="/tanks/docs/API">API</a>.

<p>See a list of current and planned
<a href="/tanks/docs/Features">features</a>.</p>
</div>

</div>
</main>

{% endblock %}
