{% if user != 'GUEST' %}
<form name="logout" class="right" method="POST" action="/logout">
    <label title="Sign Out" class="logout"><input type="submit" value="LO"><i class="wikititle fa fa-sign-out"></i></label>
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="tiddlyweb_redirect" value="/">
    <a title="Your Dashboard" href="/dash"><img class="sm-gravatar" src="{{ gravatar }}" alt="gravatar"></a>
</form>
{% else %}
<a href="/challenge"><i title="Sign In" class="right wikititle fa fa-sign-in"></i></a>
{% endif %}
{% if bag %}
<a class="right wikititle" title="Syndicate Tank"
    href="/bags/{{ bag.name|uri }}/tiddlers.atom">
    <i class="fa fa-rss"></i>
</a>
{% endif %}
{% include 'socket.html' %}
