{% extends 'base.html' %}
{% block title %}Register For Tank{% endblock %}
{% block morehead %}
    <link rel="stylesheet" href="/bags/tank/tiddlers/registration.css">
{% endblock %}
{% block body %}
<header>
    <span class="wikititle">Register</span>
</header>

<main>
<form method="POST" action="/register">
    Username:<br>
    <input name="login" value="{{login}}"><br>
    Name:<br>
    <input name="name" value="{{name}}"><br>
    Email:<br>
    <input name="email" value="{{email}}"><br>
    <input type="hidden" name="redirect" value="/dash">
    Comments:<br>
    <textarea name="extra" rows=4 placeholder="Anything else"></textarea><br>
    <input type="submit" value="Sign Up!">
</form>
</main>

{% endblock %}
