{% extends 'base.html' %}
{% block title %}{{ tiddlers.title }}{% endblock %}
{% block morehead %}
    <link rel="stylesheet" href="/bags/tank/tiddlers/changes.css">
{% endblock %}
{% block body %}
<header>
{% include 'logout.html' %}
    <a class="right wikititle" title="get a feed"
        href="{{ tiddlers.link|replace('/search', '/search.atom') }}">
        <i class="fa fa-rss"></i>
    </a>
    <span class="wikititle">Search</span>
    {% if user != "GUEST" %}
    <a class="wikititle" href="/dash">Dash</a>
    {% endif %}
</header>

<main>
<input type="checkbox" id="nav_more" role="button">
<label class="commandbox" for="nav_more">
    <i class="fa fa-align-justify"></i>
</label>
<div class="commands">
    <form>
        <input name="q" placeholder="Search again">
    </form>
</div>
<div class="output">
<h1>{{ tiddlers.title }}</h1>
{% if global_query %}
<p><a href="/search?q={{ global_query|uri }}">Search again, globally</a></p>
{% endif %}
<ul>
{% for tiddler in tiddlers %}
<li><a href="/tanks/{{ tiddler.bag|uri }}/{{ tiddler.title|uri }}">{{ tiddler.title }}</a></li>
{% endfor %}
</ul>
</div>
</main>

{% endblock %}
{% block scripts %}
{% endblock %}
