<span class="wikititle right socketicon socketall">
    <i title="Recent Activity" class="allicon fa fa-bell-o"></i>
    <div class="socketinfo">
        <a class="socketsearch"><i title="More Activity" class="fa fa-search"></i></a>
        <dl><dt></dt><dd>No activity today, make something!</dd></dl>
    </div>
</span>
{% if user and user != 'GUEST' %}
<span class="wikititle right socketicon socketfriends">
    <i title="Recent Notifications" class="friendsicon fa fa-meh-o"></i>
    <div class="socketinfo">
        <a class="socketsearch"><i title="More Notifications" class="fa fa-search"></i></a>
        <dl><dt></dt><dd>No notifications</dd></dl>
    </div>
</span>
{% endif %}
