{% extends 'base.html' %}
{% block title %}{{ tiddler.title }} in {{ bag.name }}{% endblock %}
{% block morehead %}
    <link rel="stylesheet" href="/bags/tank/tiddlers/wiki.css">
	<link rel="edit"
	href="/bags/{{ tiddler.bag|uri }}/tiddlers/{{ tiddler.title|uri }}">
{% endblock %}
{% block body %}
<header>
{% include 'logout.html' %}
    {% if tiddler.title != "index" %}
    <a class="wikititle" href="/tanks/{{ bag.name|uri }}">TankTop</a>
    {% endif %}
    <a class="wikititle" href="RecentChanges">Changes</a>
    {% if user != "GUEST" %}
    <a class="wikititle" href="/dash">Dash</a>
    {% endif %}
    {% if edit %}
    <a accesskey="e" class="wikititle"
        href="/edit?bag={{ bag.name|uri }};tiddler={{ tiddler.title|uri }}">Edit</a>
    {% endif %}
    {# temporarily disable while there is no delete
    {% if delete %}
    <a class="wikititle"
        href="/delete?bag={{ bag.name|uri }};tiddler={{ tiddler.title|uri }}">Delete</a>
    {% endif %}
    #}
</header>

<main>
<input type="checkbox" id="nav_more" role="button">
<label class="commandbox" for="nav_more">
    <i class="fa fa-align-justify"></i>
</label>
<div class="commands">
    {% if message %}
    <div class="message">{{ message }}</div>
    {% endif %}
    {% if compable %}
    {% include 'compmaker.html' %}
    {% endif %}
    {% if backlinks %}
    <div class="backlinks">
        <h3>Backlinks <a href="/tanks/docs/backlinks"><i class="fa fa-question-circle"></i></a></h3>
    <ul>
        {% for tiddler in backlinks %}
        <li><a href="/tanks/{{ tiddler.bag|uri }}/{{ tiddler.title|uri }}">
            {{ tiddler.title }}{%- if tiddler.bag != bag.name -%}@{{ tiddler.bag }}{%- endif -%}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% if edit and delete %}
    {% include 'mover.html' %}
    {% endif %}
    {% if edit %}
    <div id="dropzone">Drop binaries into your tank here.</div>
    {% endif %}
</div>
<div class="output">
    <h1 class="tiddlertitle"><span class="meta">
            <span class="modified" title="{{ tiddler.modified|rfc3339 }}">{{ tiddler.modified }}</span>
            <span class="modifier">{{ tiddler.modifier }}</span>
        </span>
        {{ tiddler.title }}</h1>
{% if tiddler.tags %}
<ul class="tags">
    {% for tag in tiddler.tags|sort %}
    <li><a href="/search?q=bag:%22{{ tiddler.bag|uri }}%22%20tag:%22{{ tag|uri }}%22">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{{ html }}
</div>

</main>

{% endblock %}
{% block scripts %}
{% if edit %}
<script src="/bags/tank/tiddlers/checklists.js"></script>
<script src="/bags/tank/tiddlers/checklistrunner.js"></script>
<script src="/bags/tank/tiddlers/filedrop.js"></script>
{% endif %}
{% if edit and delete %}
<script src="/bags/tank/tiddlers/mover.js"></script>
{% endif %}
{% if compable %}
<script src="/bags/tank/tiddlers/compmaker.js"></script>
{% endif %}
{% endblock %}
