{% extends 'base.html' %}
{% block title %}{{ tiddler.title }} in {{ bag.name }}{% endblock %}
{% block morehead %}
    <link rel="stylesheet" href="/bags/tank/tiddlers/wiki.css">
	<link rel="edit"
	href="/bags/{{ tiddler.bag|uri }}/tiddlers/{{ tiddler.title|uri }}">
{% endblock %}
{% block body %}
<header>
{% include 'logout.html' %}
    {% if tiddler.title != "index" %}
    <a class="wikititle" href="/tanks/{{ bag.name|uri }}">TankTop</a>
    {% endif %}
    <a class="wikititle" href="RecentChanges">Changes</a>
    {% if user != "GUEST" %}
    <a class="wikititle" href="/dash">Dash</a>
    {% endif %}
    {% if edit %}
    <a class="wikititle"
        href="/edit?bag={{ bag.name|uri }};tiddler={{ tiddler.title|uri }}">Edit</a>
    {% endif %}
    {# temporarily disable while there is no delete
    {% if delete %}
    <a class="wikititle"
        href="/delete?bag={{ bag.name|uri }};tiddler={{ tiddler.title|uri }}">Delete</a>
    {% endif %}
    #}
</header>

<main>
<div class="commands">
    {% if message %}
    <div class="message">{{ message }}</div>
    {% endif %}
    {% if edit %}
    <div id="dropzone">Drop binaries into your tank here.</div>
    {% endif %}
    {% if backlinks %}
    <div class="backlinks">
        <h3>Backlinks</h3>
    <ul>
        {% for tiddler in backlinks %}
        <li><a href="/tanks/{{ tiddler.bag|uri }}/{{ tiddler.title|uri }}">
            {{ tiddler.title }}{%- if tiddler.bag != bag.name -%}@{{ tiddler.bag }}{%- endif -%}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    <p>Other commands coming soon.</p>
</div>
<div class="output">
<h1>{{ tiddler.title }}</h1>
{{ html }}
{% if tiddler.tags %}
<ul class="tags">
    {% for tag in tiddler.tags|sort %}
    <li><a href="/search?q=bag:%22{{ tiddler.bag|uri }}%22%20tag:%22{{ tag|uri }}%22">{{ tag }}</a>
    {% endfor %}
</ul>
{% endif %}
</div>

</main>

{% endblock %}
{% block scripts %}
{% if edit %}
<script src="/bags/tank/tiddlers/jquery.js"></script>
<script src="/bags/tank/tiddlers/checklists.js"></script>
<script src="/bags/tank/tiddlers/checklistrunner.js"></script>
<script src="/bags/tank/tiddlers/filedrop.js"></script>
{% endif %}
{% endblock %}
